<% if @books.empty? %>
  <div class="text-center">
    <p><b>There is nothing under this category/location for now.</b></p>
  </div>
<% else %>
  <% @books.each do |c| %>
    <div class="row">
      <div class="col-md-3 text-center">
        <% unless @hide_for_view %>
          <%= link_to c.author do %>
            <p><%= gravatar_for(c.author, {size: 180}) %></p>
            <p><h5>COORDINATOR : <%= c.author.name %></h5></p>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6 course_container">
        <%= render 'shared/book_details', option: c %>
      </div>
      <div class="col-md-3">
        <%#= image_tag c.image, class: 'img-thumbnail' %>
      </div>
    </div>
  <% end %>
<% end %>