<footer class="footer">
  <div class="text-center">
    <ul class="list-group show-icon">
      <li class="icon"><%= link_to "Contact Us", contacts_path %></li>
      <h3>Website&copy;</h3>
      <h4>Low Weng Lim : s3697652 & Syed Hariz : s3701799</h4>
    </ul>
  </div>
</footer>